body {
    text-align: center;
    font-family: sans-serif;
    background-color: #3e1d44;
    color: #B8FFF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}



form {
    font-weight: bold;
    text-align: left;
    
}

form input {
    margin-top: 1.5rem;
    font-size: large;
    background-color: #B8FFF9;
    border: 3px solid black;   
}

form label {
    text-align: left;
}

div {
    margin-top: 5rem;
    padding: 2rem;
    border: 5px solid black ;
    
}

.hideDiv {
    display: none;
}

.showDiv {
    display: block;
}

.Title {
    margin-top: 15rem;
}

.resultTitle {
    text-align: left;
}

.par {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    margin-top: 5rem;
    border: 0.7rem solid black;
    border-radius: 16px;
    padding: 1.5rem;
}

.btn, .btn:visited{
    text-decoration: none;
    font-weight: bold;
    color:#3e1d44;
    margin: auto;
    margin-top: 3rem;
    width: 25%;
    height: 2rem;
    font-size: large;
    background-color: #B8FFF9;

}

.btn:hover {
    color:#B8FFF9;
    font-weight: bold;
    background-color: #38827d;
}

.home {
    text-align: left;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 15%;
}


a, a:visited {
    text-decoration: none;
    color: inherit;
}

.removewidth {
    width: 20%;
}


.psychosflex input {
    width: 30%;
    margin: auto;
    margin-top: 1.5rem;
    display: block;
    height: 1.5rem;
    
    
}

.disabled {
    background-color: #B8FFF9 !important;
    color:#3e1d44 !important;   
}

table {
    border-spacing: 1rem;
    font-size: larger;
}

.boldtext {
    font-weight: bold;
    color: #01b4a5;
}


@media only screen and (max-width: 768px) {
    .Title {
        margin-top: 10rem;
    }

    .par {
      width: 70%;
    }

    a{
        width: 35%;
    }

    .btn {
        width: 60%;
    }
    .psychosflex input {
        width: 70%;
    }
  }

